# LLM Provider Selection: ollama, groq, gemini
LLM_PROVIDER=groq

# Groq Config
GROQ_API_KEY=your_groq_api_key
GROQ_MODEL=llama3-70b-8192

# Gemini Config
GOOGLE_API_KEY=your_google_api_key
GEMINI_MODEL=gemini-1.5-flash

# Ollama Config
OLLAMA_MODEL=llama3
OLLAMA_BASE_URL=http://localhost:11434

# Search Tools
TAVILY_API_KEY=your_tavily_api_key
